/*----------------------------------------------------
@File: Default Styles
@Author: Nabil Newaz
@URL: http://nabilnewaz.info
Author E-mail: nabilnewaz@gmail.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
---------------------------------------------------- */

/*=====================================================================
@Author: Nabil Newaz
@Developed By: Nabil Newaz
@Developer URL: http://nabilnewaz.info
Author E-mail: nabilnewaz@gmail.com

@Default Styles

Table of Content:
01/ Variables
02/ predefin
03/ header
04/ button
05/ banner
06/ breadcrumb
07/ about
08/ team
09/ project 
10/ team 
11/ video  
12/ features  
13/ career  
14/ contact 
15/ footer

=====================================================================*/ 

/*----------------------------------------------------*/
@import "variables";
/*---------------------------------------------------- */ 

/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "header";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "breadcrumb";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "contact";
/*---------------------------------------------------- */ 

/*----------------------------------------------------*/
@import "elements";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "button";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "feature";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "gallery";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "testimonials";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */





